[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-closetag"]
	path = .vim/bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git 
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
