html
	head
		title comfy
		meta(charset="utf-8")
		link(rel='stylesheet', href='~/style.css')
	body
		.wrapper
			h1 good morning

			.row
				span#cat1 social
				span.link
					a(href="http://facebook.com") facebook
				span.link
					a(href="http://youtube.com") youtube
				span.link
					a(href="http://twitter.com") twitter
				span.link
					a(href="http://discordapp.com/app") discord
				span.link
					a(href="http://reddit.com") reddit

			.row
				span#cat2 disco
				span.link
					a(href="http://discoverygc.com/forum") forum
				span.link
					a(href="http://web.skype.com") skype

			.row
				span#cat3 coding
				span.link
					a(href="http://github.com") github
				span.link
					a(href="http://developer.mozilla.org") mdn
				span.link
					a(href="http://npmjs.com") npm

			.row
				span#cat4 4chan
				span.link
					a(href="http://4chan.org/g") g
				span.link
					a(href="http://4chan.org/wg") wg
				span.link
					a(href="http://4chan.org/tg") tg
				span.link
					a(href="http://4chan.org/pol") pol
				span.link
					a(href="http://4chan.org/bant") bant

			.row
				span#cat5 netrunner
				span.link
					a(href="http://jinteki.net") jinteki
				span.link
					a(href="http://netrunnerdb.com") nrdb
				span.link
					a(href="http://reddit.com/r/netrunner") r
				span.link
					a(href="http://4chan.org/tg/anrg") anrg

			.row
				span#cat6 personal
				span.link
					a(href="http://www.zsti.gliwice.pl") zs
				span.link
					a(href="http://gmail.com") mail
