@import url('file:///home/justinian/.cache/wal/colors.css');
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
	--backbutton-background: transparent !important;
	--backbutton-hover-background: transparent !important;
	--backbutton-active-background: transparent !important;
	--backbutton-border-color: transparent !important;
	
	--toolbox-border-bottom-color: var(--background) !important;
	
	--toolbarbutton-icon-fill-attention: var(--color5) !important;
	--toolbar-bgcolor: var(--background) !important;
	--toolbar-bgimage: transparent !important;
	
	--tab-line-color: var(--color2) !important;
	--tabs-border: transparent !important;
	--tab-min-height: 20px !important;
	
	--arrowpanel-background: var(--background) !important;
	--arrowpanel-color: var(--foreground) !important;
	--arrowpanel-border-color: none !important;
}

::-moz-selection {
	background: var(--color1) !important;
}

.tabbrowser-tabs {
	background: var(--background);
	color: var(--foreground);
}

.tabbrowser-tab[selected="true"] {
	color: var(--foreground) !important;
}

#window-controls {
	display: none;
}

#nav-bar {
	position: fixed !important;
	bottom: 0 !important;
}

#nav-bar-customization-target {
	background: var(--background) !important;
	color: var(--foreground);
	border-bottom: none;
	position: fixed !important;
  right: 0;
	bottom: 0;
	width: 100% !important;
	
	box-shadow: 0 0 5px 3px var(--background);
	
	display: flex;
	align-items: center;
	width 100%;
}

#PopupAutoCompleteRichResult {
  background: var(--background) !important;
	border: none !important;
	margin-top: -132px;
	height: 100px;
	
	/*position: fixed;
	bottom: 0;*/
}

#PanelUI-button {
	position: fixed;
	right: 0;
	top: 0;
}

#mainPopupSet * {
	box-shadow: none !important;
}

.search-one-offs {
	display: none !important;
}

.autocomplete-richlistitem {
	color: var(--foreground) !important;
	font-family: "Iosevka" !important;
}

.autocomplete-richlistitem[selected=true] {
  background: var(--color2) !important;
}

.ac-action-text {
	color: var(--color1) !important;
}

.tab-close-button {
	display: none;
}

toolbarbutton {
	color: var(--foreground) !important;
}

#urlbar-container {
	flex: 1;
	width 100%;
}

#urlbar, .searchbar-textbox {
	background: var(--background) !important;
	color: var(--foreground) !important;
	border: none !important;
	width: 100% !important;
	height: 32px;
}

#connection-icon {
	fill: var(--color2) !important;
}

#PersonalToolbar {
	background: var(--background) !important;
	border-bottom: none;
}

#navigator-toolbox {
	font-family: "Iosevka" !important;
	font-size: 0.9em;
	box-shadow: 0 0 5px 5px var(--background);
	position: static;
}

browser, .devtools-toolbox-side-iframe {
	margin-bottom: 38px;
}

#main-window[inFullscreen] #content browser {
	padding-bottom: 0px;
}


#appMenu-mainView * {
		border: none !important;
}

#PopupAutoComplete {
	background: var(--background) !important;
	border: none !important;
}

findbar {
	position: fixed;
	bottom: 38px;
	background: var(--background) !important;
	border: none !important;
	box-shadow: 0 0 5px var(--background);
}

.devtools-side-splitter {
	display: none;
}

statuspanel {
	bottom: 38px !important;
}